html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
header, footer{
    background-color:burlywood;
}
.product-card-image{
    height:100px;
    margin-top:10px;
}

.product-image {
    height: 400px;
    margin-top: 20px;
}
.product-card-image img, .product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    color: black;
    background-color: aqua;
}

a.card-link-block{
    color:inherit;
    text-decoration:none;
}