@using BusinessLogic.Interfaces
@using BusinessLogic.Services


@model List<DataAccess.Entities.Product>
@inject ICartService CartService

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var product in Model)
        {
            <partial name="_ProductViewPartial" model="@product" />
        }
    </div>

</div>

