@model DataAccess.Entities.Product
<h1>Edit Product</h1>


<form asp-action="Edit" method="post" class="row g-3">
    <div class="col-md-6">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Enter name">
        <span class="form-text text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Price" class="form-label">Price</label>
        <input asp-for="Price" type="number" step="0.01" class="form-control" placeholder="Enter price">
        <span class="form-text text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="col-md-12">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.CategoryList" class="form-select">
            <option selected>Choose...</option>

        </select>
        <span class="form-text text-danger" asp-validation-for="CategoryId"></span>
    </div>
    <div class="col-md-12">
        <label asp-for="ImagePath" class="form-label">Image URL</label>
        <input asp-for="ImagePath" type="text" class="form-control" placeholder="Enter image path">
        <span class="form-text text-danger" asp-validation-for="ImagePath"></span>
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-primary w-100">Edit</button>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-primary w-100">Back</a>
    </div>

</form>